.Card {
	background-color: white;
	border: 1px solid #eaedf4;
	border-radius: 4px;
	display: flex;
	flex-grow: 1;
	flex-basis: 100%;
	justify-content: center;
	align-items: flex-start;
	min-height: 50px;
	margin: 1em auto;
	padding: 15px;
}

.Card .Input_Form__group { 
	flex-basis: 75%;
	max-width: 75%;
	width: 100%;
}

.Card button {
	flex-basis: 25%;
	max-width: 25%;
	width: 100%;
	margin: 0.5em 0;
}